<div class='w-full h-100 py-[2.5rem] px-6 flex flex-col justify-center items-center'>
  <div class="max-w-[1500px] w-100 h-full m-auto grid grid-cols-2 gap-[4rem]">

    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias autem corporis deserunt dolorem
      ducimus eaque enim iste molestiae nemo, optio quo reiciendis repellendus reprehenderit sapiente, sed velit,
      voluptatem voluptates!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias autem corporis deserunt dolorem
      ducimus eaque enim iste molestiae nemo, optio quo reiciendis repellendus reprehenderit sapiente, sed velit,
      voluptatem voluptates!
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus alias autem corporis deserunt dolorem
      ducimus eaque enim iste molestiae nemo, optio quo reiciendis repellendus reprehenderit sapiente, sed velit,
      voluptatem voluptates!
    </p>

  </div>
</div>
