<div class='w-full h-100 py-[2.5rem] px-6 flex flex-col justify-center items-center mb-[6rem]'>
    <div class="max-w-[1500px] w-100 h-full m-auto grid grid-cols-2 gap-[4rem]">

        <div>
            <h3 class="underline">Bar Chart</h3>
            <canvas id="barChart" width="400" height="400"></canvas>
        </div>

        <div>
            <h3 class="underline">Doughnut and Pie Charts</h3>
            <canvas id="pieCharts" width="400" height="400"></canvas>
        </div>

        <div>
            <h3 class="underline">Line Chart</h3>
            <canvas id="lineChart" width="400" height="400"></canvas>
        </div>

        <div>
            <h3 class="underline">Mixed Chart Types</h3>
            <canvas id="mixedChartTypes" width="400" height="400"></canvas>
        </div>

        <div>
            <h3 class="underline">Polar Area Chart</h3>
            <canvas id="polarAreaChart" width="400" height="400"></canvas>
        </div>

        <div>
            <h3 class="underline">Radar Chart</h3>
            <canvas id="radarChart" width="400" height="400"></canvas>
        </div>

    </div>
</div>
-
